<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Create a new poll</h1>

        <form action="{ % url 'polls:index' }" method="post">
            {% csrf_token %}

            <label for="question">Question_text</label>
            <input type="text" id="question" name="question_text" placeholder="Where are the stars tonight?" >

            <label for="choice">Choice_text</label>
            <input type="text" id="choice" name="choices" placeholder="In your eyes perhaps?" >
            <input type="text" id="choice" name="choices" placeholder="Hiding from the moths?" >
            <input type="text" id="choice" name="choices" placeholder="Planning some sort of eclipse?" >

            <button type="submit">Create poll</button>

        </form>
        
        <script src="" async defer></script>
    </body>
</html>