<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Question List Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    </head>
    <body>
        <h1>Polls</h1>
        {% if latest_question_list %}
        <div style="background-color: burlywood;">
            <h3> Latest Questions </h3>
        </div>
        <ul>

        {% for question in latest_question_list %}

            <li>{{ question.question_text }} 
                <p><a href="{% url 'polls:detail' question.id %}"> View </a></p>
            </li>


        {% endfor %}

        </ul>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}

        <form action="{% url 'polls:create_poll' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Create New Poll">
        </form>
    </body>
</html>
